@model DoorinWebApp.Models.freelancer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>freelancer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phonenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthcity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthcity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.freelancer_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
