@*@model IEnumerable<DoorinWebApp.Models.freelancer>*@
@model List<DoorinWebApp.Viewmodel.FreelancerProfileVM>

@{
    ViewBag.Title = "Sök frilansare";
}

@*<h2>Sök efter frilansare</h2>
    <br />*@


<div>
    @using (Html.BeginForm())
    {
    <div class="box" id="myDiv">
        <p style="display:inline-block; float:right; margin-top:10px;">@Html.ActionLink("Visa sparade frilansare", "SavedFreelancers", "customers")</p>
        <h4 style="display:inline-block;">Sök frilansare efter kompetens/teknologi:</h4>

        <input id="SearchString" name="SearchString" type="text" placeholder="Sök här" value="">
        @*<input type="submit" id="searchButton" value="Sök" />*@
        @*<p class="btn" id="searchButton">Sök</p>*@
        <input type="submit" value="Nollställ" onclick="setValue('')" />

        <div id="filterbtn" class="filterbtn" onclick="myFunction()">
            <img src="~/Content/images/filter.png" />
            Filter
        </div>

        
        <br />

        <div id="filters" style="display:none;">
            <div id="filterbuttons">
                <br />
                <h4 style="font-weight:bold;">Kompetenser</h4>
                @foreach (var item in ViewBag.Competence)
                {
                    <p class="filters" id="@item.name">@item.name</p>
                    @*<p class="filters" id="Competence" value="@item.competence_id" name="Competence" onclick="myFunction2()">@item.name</p>*@
                    @*<input type="button" class="filters" id="Competence" value="@item.name" name="Competence" onclick="getTechnologiesByCompetence(@item.competence_id)"/>*@
                }

               

                <hr />
                <h4 style="font-weight:bold;">Teknologier</h4>
                @foreach (var item in ViewBag.Technology)
                {
                    <p class="filters" id="@item.name">@item.name</p>
                }
                
                @*<select id="rankvalue">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>*@
            </div>
        </div>
    </div>
    }
</div>


<br />

<div>
    <table class="table">
        <thead>
            <tr>
                <th style="border-top:none;">
                    Namn
                </th>
                <th style="border-top:none;">
                    Kompetenser
                </th>
                <th style="border-top:none;">
                    Teknologier
                </th>
                <th style="border-top:none;"></th>
            </tr>
        </thead>
        <tbody id="freelancerTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fullname)
                    </td>
                    <td>
                        @foreach (var x in item.CompetencesList)
                        {
                            <span class="filterItem competence" data="@x.name">@Html.DisplayFor(modelItem => x.name)</span>
                        }
                    </td>
                    <td>
                        @foreach (var x in item.TechnologysList)
                        {
                            if (x.core_technology == true) //Kärnteknologi
                            {
                                <span style="background-color:#2c473d; color:#FFF;" class="filterItem competence" data="@x.name">@Html.DisplayFor(modelItem => x.name)</span>
                                //<span style= "margin:2px; border: 2px solid #09964f; padding: 5px;" class="filterItem" data="@x.name">@Html.DisplayFor(modelItem => x.name)</span>
                            }
                            else //Ej kärnteknologi
                            {
                                <span class="filterItem competence" data="@x.name">@Html.DisplayFor(modelItem => x.name),</span>
                                //<span style="margin:2px; border: 2px solid #ddd; padding: 5px;" class="filterItem" data="@x.name">@Html.DisplayFor(modelItem => x.name)</span>
                            }
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Spara |", "SaveFreelancer", new { id = item.Freelancer_id })
                        @Html.ActionLink("Besök profil", "ProfilePage", new { id = item.Freelancer_id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />
<br />
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<script>
    function setValue(txt) {
        document.getElementById("SearchString").value = txt;
    }
</script>


<script>
    //Om man skriver något i sökrutan (testar)
    //$(document).ready(function () {
    //    $("#SearchString").on("keyup", function () {
    //        var value = $(this).val().toLowerCase();
    //        $("#myTable tr").filter(function () {
    //            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    //        });
    //    });
    //});
    

    //TODO: Flytta script till .js-filen
    //Källa: https://caveofcode.com/2016/02/jquery-tutorial-how-to-filter-data-using-multiple-parameters/
    $(function () {
        //Fritextsök
        $('#SearchString').keyup(filter); 


        //När man klickar på en knapp, = toggleClass -> active
        $('.filters').click(function () {
            $(this).toggleClass('active');

            filter();
        });

        //Funktion för att filtrera tabellen
        function filter() {
            var rex = new RegExp($('#SearchString').val(), 'i');
            var rows = $('#freelancerTable tr');

            rows.hide();

            rows.filter(function () {

                var tester = true;

                tester = rex.test($(this).text());

                tester = tester && filterCompAndTech(this); //Anropar funktionen för att kolla vilka filtreringsknappar som används

                return tester;
            }).show();
        }

        //Kollar vilka items som har värdet för vilka filter som är aktiva
        function filterCompAndTech(selector) {
            var tester = true;
            var all = $('#filterbuttons .filters.active'); //Sparar alla filterknappar som har klassen active

            for (var i = 0; i < all.length; i++) {
                var item = $(selector).find('[data="' + all[i].id + '"]'); //(if item.name == filterbutton.name)

                if (!item.hasClass('filterItem')) {
                    tester = false;
                }
            }
            return tester;
        }
    });
</script>

@*<script>
    function myFunction2() {

        var x = document.getElementById("Competence").innerHTML;
        //var competenceId = $("#Competence").val();
        //var selectedCompetence = document.getElementById("Competence").innerHTML;
        //var competenceId = value;
        //var competenceId = selectedCompetence.options[selectedCompetence].value;
            //options[selectedCompetence].value;

        alert(x);
        }

</script>*@

@*<script>    
        
    $('#Competence').click(function () {

        var selectedCompetence = document.getElementById('Competence');
                var competenceId = selectedCompetence.options[selectedCompetence].value;

                // ska testa om det gick att hämta värdet på resume så jag sedan kan hämta detta i databasen ifrån
                // controllern
                //var resume_id = $("#resume_id").val();
                //var freelancer_id = $("#freelancer_id").val();
                alert(HEJ!);
                var compObj = {
                    competence_id: competenceId, resume_id: 0, name: Anna
                };

                $.ajax({
                    type: "POST",
                    url: "/freelancers/Index",
                    data: JSON.stringify(compObj),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        alert("Kompetensen är tillagd.");
                        document.location.reload(true)
                    },

                    error: function (xhr) {

                        alert("Nånting blev fel.");

                    }
                });

            });
       
</script>*@

