@*@model IEnumerable<DoorinWebApp.Models.freelancer>*@
@model List<DoorinWebApp.Viewmodel.FreelancerProfileVM>

@{
    ViewBag.Title = "Sök frilansare";
}

@*<h2>Sök efter frilansare</h2>
    <br />*@


<div>
    @using (Html.BeginForm())
    {
        <div class="box" id="myDiv">
            <p style="display:inline-block; float:right; margin-top:10px;">@Html.ActionLink("Visa sparade frilansare", "SavedFreelancers", "customers")</p>
            <h4 style="display:inline-block;">Sök frilansare efter kompetens/teknologi:</h4>

            <p id="search">@Html.TextBox("SearchString")</p>
            <input type="submit" value="Sök" />
            <input type="submit" value="Nollställ" onclick="setValue('')" />

            <div id="filterbtn" class="filterbtn" onclick="myFunction()">
                <img src="~/Content/images/filter.png" />
                Filter
            </div>

            <br />

            <div id="filters" style="display:none;">
                <hr />
                <h4 style="font-weight:bold;">Kompetenser</h4>
                @foreach (var item in ViewBag.Competence)
                {
                    <input id ="@item.competence_id" class="filters" type="submit" onclick="setValue('@item.name')" value="@item.name" />
                }

                <br />

                <h4 style="font-weight:bold;">Teknologier</h4>
                @foreach (var item in ViewBag.Technology)
                {
                    <input class="filters" type="submit" onclick="setValue('@item.name')" value="@item.name" />
                }
                <br />
            </div>
        </div>
    }
</div>

@*<div id="tempdiv">
    <input type="submit" class="filters" value="test 1" />
    <input type="submit" class="filters" value="test 2" />
    <input type="submit" class="filters" value="test 3" />
    <input type="submit" class="filters" value="test 4" />
</div>*@
<br />

<div class="freelancerbox">
    <table class="table">
        <tr>
            <th>
                Namn
            </th>
            <th>
                Kompetenser
            </th>
            <th>
                Teknologier
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @foreach (var x in item.CompetencesList)
                    {
                        <span>@Html.DisplayFor(modelItem => x.name),</span>
                    }
                </td>
                <td>
                    @foreach (var x in item.TechnologysList)
                    {
                        <span>@Html.DisplayFor(modelItem => x.name), </span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Spara |", "SaveFreelancer", new { id = item.Freelancer_id })
                    @Html.ActionLink("Besök profil", "ProfilePage", new { id = item.Freelancer_id })
                </td>
            </tr>
        }

    </table>
</div>
<hr />
<br />

<script>
    function setValue(txt) {
        document.getElementById("SearchString").value = txt;
    }
</script>
<script>

    var header = document.getElementById("filters");
    var btns = header.getElementsByClassName("filters");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("tempactive");
            if (current.length > 0) {
                //current[0].className = current[0].className.replace(" tempactive", "");
            }
            this.className += " tempactive";
        });
    }
</script>

