@*@model IEnumerable<DoorinWebApp.Models.freelancer>*@
@model List<DoorinWebApp.Viewmodel.FreelancerProfileVM>

@{
    ViewBag.Title = "Alla frilansare";
}

<div class="box">
    <input type="text" id="search" placeholder="Sök här" >
    <img id="searchbtn" src="~/Content/images/search.png" />
    <div id="filterbtn">
        <img src="~/Content/images/filter.png" />
        Filters
    </div>
</div>

<h2>Alla Frilansare</h2>

<h4>Sortera på kompetenser:</h4>
<p class="btn">Programmer</p> <p class="btn">Designer</p>

<br />
<br />

<h4>Sortera på teknologier:</h4>
<p class="btn">C#</p> <p class="btn">Javascript</p> <p class="btn">Adobe Illustrator</p> <p class="btn">Word</p>

<br />
<br />
<br />


@*<p>
    @Html.ActionLink("Skapa ny", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            Namn
        </th>
        <th>
            Nationalitet
        </th>
        <th>
            Kompetenser
        </th>
        <th>
            Teknologier
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nationality)
        </td>
        <td>
            @foreach (var x in item.CompetencesList)
            {
            <span>@Html.DisplayFor(modelItem => x.name),</span>
            }
        </td>
        <td>
            @foreach (var x in item.TechnologysList)
            {
            <span>@Html.DisplayFor(modelItem => x.name), </span>
            }
        </td>
        <td>
            @Html.ActionLink("Spara |", "ProfilePage", new { id = item.Freelancer_id }) 
            @Html.ActionLink("Besök profil", "ProfilePage", new { id = item.Freelancer_id })
        </td>
    </tr>

    }

</table>
