@model DoorinWebApp.Viewmodel.FreelancerProfileVM

@{
    ViewBag.Title = "Profilbesök";
}



<a class="btnless" style="margin:0;" href="javascript:void(0);" onclick="history.go(-1);">Tillbaka</a>

<h2>Profilbesök hos @Html.DisplayFor(modelItem => Model.Firstname) @Html.DisplayFor(modelItem => Model.Lastname) </h2>
<p>
    Här kan du som rekryterare se vad @Html.DisplayFor(modelItem => Model.Firstname)
    har för kompetenser, teknologier, erfarenheter, utbildning samt kontaktuppgifter.
    <br />
    <hr />


    @Html.ActionLink("Skriv ut CV", "CVPage", new { id = Model.Freelancer_id }, new { target = "_blank", @class = "btn" })
    @Html.ActionLink("Spara till min lista", "SaveFreelancer", new { id = Model.Freelancer_id }, new { @class = "btn" })


    <div class="row">
        <div class="col-sm-6">
            <br />
            <h1><b>CV</b></h1>
            <h2>@Html.DisplayFor(modelItem => Model.Firstname) @Html.DisplayFor(modelItem => Model.Lastname)</h2>
            <h4> @Html.DisplayFor(modelItem => Model.Age) år från @Html.DisplayFor(modelItem => Model.City), @Html.DisplayFor(modelItem => Model.Nationality)</h4>
<p><b>Kort om mig:</b> @Model.ProfileText</p>
        <p>
            <b>Har B-körkort:</b>

            @Model.DrivingLicence
        </p>
        <br />
    </div>
        <div class="col-sm-6">

        </div>
    </div>

<div class="row">
    <div class="col-sm-6">

        <h2>Kompetenser</h2>
        @foreach (var item in Model.CompetencesList)
        {
            <p class="competence">
                @Html.DisplayFor(modelItem => item.name)
            </p>
        }

        <br />
        <h2>Erfarenheter</h2>
        @foreach (var item in Model.WorkHistoryList)
        {
            <p><strong>Arbetsgivare:</strong> @Html.DisplayFor(modelItem => item.employer)</p>
            <p><strong>Position:</strong> @Html.DisplayFor(modelItem => item.position)</p>
            <p><strong>Beskrivning:</strong> @Html.DisplayFor(modelItem => item.description)</p>
            <p><strong>Datum:</strong> @Html.DisplayFor(modelItem => item.date)</p>
            <hr />
        }
        <br />
        @*<h2>Länkar</h2>
        @foreach (var item in Model.LinkList)
        {
            <p><strong>Namn:</strong> @Html.DisplayFor(modelItem => item.name)</p>
            <p><strong>Länk:</strong> @Html.DisplayFor(modelItem => item.link)</p>
            <hr />
        }*@
    </div>
    <div class="col-sm-6">
        <h2>Teknologier</h2>
        @foreach (var item in Model.TechnologysList)
        {
            //Om teknologin är kärnteknologi
            if (item.core_technology == true)
            {
                <p class="competence" style="background-color:#2c473d; color:#FFF;"> @Html.DisplayFor(modelItem => item.name)</p>
            }
            //Ej kärnteknologi
            else
            {
                <p class="competence" style="">@Html.DisplayFor(modelItem => item.name)</p>
            }

            var stars = item.rank;

            while (stars > 0)
            {
                <img class="stars" style="margin-top:-8px;" width="25" src="~/Content/images/star.png" />
                stars -= 1;

            }
            <br />
        }

        <br />
        <h2>Utbildning</h2>
        @foreach (var item in Model.EducationsList)
        {
            <p><strong>Titel:</strong> @Html.DisplayFor(modelItem => item.title)</p>
            <p><strong>Beskrivning:</strong> @Html.DisplayFor(modelItem => item.description)</p>
            <p><strong>Datum: </strong>@Html.DisplayFor(modelItem => item.date)</p>
            <hr />
        }

    </div>
</div>

<div style="background-color:#ddd; padding:15px; " class="row center">
    <b>Kontaktuppgifter</b>
    <br />
    <p>Email: <a href="mailto:@Html.DisplayFor(modelItem => Model.Email)">@Html.DisplayFor(modelItem => Model.Email)</a> &nbsp;&nbsp;&nbsp;&nbsp;
    Telefonnummer: @Html.DisplayFor(modelItem => Model.phonenumber)</p>
    @if (Model.phonenumber == null)
    {
        <p style="display:inline-block;">---</p>
    }
 

    <b>Länkar</b>
    <br />
    @foreach (var item in Model.LinkList)
    {
        //var x = @Html.DisplayFor(modelItem => item.link);
        <p style="display:inline-block;">@Html.DisplayFor(modelItem => item.name): <a href="#">@Html.DisplayFor(modelItem => item.link)</a> &nbsp;&nbsp;&nbsp;&nbsp;</p>
    }

</div>

<br />
<br />
