@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_justFooter.cshtml";
}


    <header class="header">
        <div class="container">
            <a href="@Url.Action("Index", "Home")">
                <img id="logo" alt="Logo" src="~/Content/images/doorin.png">
            </a>

            <div class="header-links">
                <h3>@Html.ActionLink("Join Now", "Join", "Home")</h3>
                @Html.ActionLink("Log in", "Login", "Home", null, new { @class = "btn" })
            </div>
        </div>
    </header>



    <div class="textandimage">
        <img class="imagesfullwidth fourthyvh" src="~/Content/images/computer.jpg">
        <p class="whitebgtext bgtext">Find job as a freelancer. <br/> Find freelancer to work with.</p>
    </div>

    <div class="paddingleftright10 container paddingtop20">
        <h4>
            Put simply, DoorIn is a social network for professionals. It's like Facebook for your career.
        </h4>
        <p>
            Whether you're a marketing executive at a major company, a business owner who runs a small 
            local shop or even a first year college student looking for their first job after graduating, 
            DoorIn is for anybody and everybody who's interested in taking their professional life more 
            seriously by looking for new opportunities to grow their careers and to connect with other professionals.
        </p>
            <h5>Text from: <a href="https://www.lifewire.com/what-is-linkedin-3486382">Lifewire</a></h5>
    </div>

    <div  class="container">
        <h4>Genvägar</h4>
        @Html.ActionLink("Frilansare", "Index", "freelancers", null, new { @class = "btn" })
        @Html.ActionLink("Kunder", "Index", "customers", null, new { @class = "btn" })
        <br />
        <br />
        <br />
    </div>
