@model DoorinWebApp.Models.technology

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>technology</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>      

        <dt>
            @Html.DisplayNameFor(model => model.competence.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.competence.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.technology_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
