@model DoorinWebApp.Models.customer

@{
    ViewBag.Title = "Profil";
}

<h2>Profilsida för @Html.DisplayFor(model => model.firstname) @Html.DisplayFor(model => model.lastname)</h2>

<div>
    <h5>Du har gått med som rekryterare</h5>
    <hr />
    <h4>Uppgifter</h4>
    <p>@Html.ActionLink("Redigera", "Edit", new { id = Model.customer_id })</p>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phonenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Se mina sparade frilansare", "SavedFreelancers", new { idfromview = Model.customer_id })
</p>
