@model DoorinWebApp.Models.resume

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>resume</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.driving_license)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.driving_license)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.freelancer.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.freelancer.firstname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.resume_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
