@model DoorinWebApp.Viewmodel.FullResume

@{
    /**/

    ViewBag.Title = "Edit";
}

<div>
    @Html.ActionLink("Tillbaka", "Details", "freelancers", new { id = Model.Freelancer_id }, new { @class = "btnless", @style="margin:0;" })
</div>

<h2>Redigera ditt CV @Html.DisplayFor(model => model.Firstname) @Html.DisplayFor(model => model.Lastname) </h2>

<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(@Model => @Model.Resume_id)

        <div class="form-group" style="display:none;">

            @Html.LabelFor(@Model => @Model.Freelancer_id, "freelancer_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("freelancer_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(@Model => @Model.Freelancer_id, "", new { @class = "text-danger" })
                <input type="hidden" id="freelancer_id" value="@Model.Freelancer_id" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("B-körkort", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Driving_license, Model.DrivingLicenceChoice, "- Har du körkort? -", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Driving_license, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Profil (kort beskrivning av dig)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(@Model => @Model.Profile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(@Model => @Model.Profile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <hr />
            <h2>Kompetenser:</h2>
            <br />

            <div class="col-md-6">
                <p><b>Lägg till kompetenser</b></p>
                <select class="form-control" id="Competences" name="Competences">
                    <option> Välj en kompetens att lägga till</option>
                    @foreach (var item in Model.Competences)
                    {
                        <option value="@item.competence_id"> @item.name </option>
                    }
                </select>
                <input type="submit" id="addCompetence" name="addCompetence" value="Lägg till kompetens" onclick="AddCompetence()" />
            </div>

            <div class="col-md-6">
                <p><b>Mina kompetenser</b></p>
                <table class="table" id="myCompTable">
                    @foreach (var item in Model.MyCompetences)
                    {
                    <tr>

                        <td>@item.name </td>                       
                        <td> <input type="button" class="btnless" value="Ta bort" onclick="RemoveCompetence(this)" /> </td>
                        <td hidden>@item.competence_id</td>
                    </tr>

                    }
                </table>
            </div>
        </div>

        <div class="container"></div>
        <br />
        <hr />

        <div>
            <h2>Teknologier:</h2>
            <br />
            <div class="col-md-6">
                <p><b>Lägg till teknologier</b></p>
                <select class="form-control" id="Technologies" name="Technologies">
                    <option> Välj en teknologi att lägga till</option>
                    @foreach (var item in Model.Technologies)
                    {
                        <option value="@item.technology_id"> @item.name </option>
                    }
                </select>

                <p><b>Rankning</b></p>
                <select class="form-control" id="rank" name="rank">
                    <option>Välj en rankning</option>
                    <option value="1"> 1 </option>
                    <option value="2"> 2 </option>
                    <option value="3"> 3 </option>
                    <option value="4"> 4 </option>
                    <option value="5"> 5 </option>
                </select>

                <p><b>Kärnförmåga</b></p>
                <select class="form-control" id="core_technology" name="core_technology">
                    <option>Är denna teknologi en kärnförmåga?</option>
                    <option value="True"> Ja </option>
                    <option value="False"> Nej </option>
                </select>
                <input type="submit" id="addTechnology" name="addTechnology" value="Lägg till teknologi" onclick="AddTechnology()" />

            </div>

            <div class="col-md-6">
                <p><b>Mina teknologier</b></p>
                <table class="table"id="techId">
                @foreach (var item in Model.MyTechnologies)
                {
                    <tr>
                        <td>@item.name </td> 
                        <td><input type="button" class="btnless" value="Ta bort" onclick="RemoveTechnology(this)" /></td>
                        <td hidden> @item.technology_id</td>
                    </tr>                    
                }
                    </table>
            </div>
        </div>

        <hr />

        <div class="container"></div>
        <br />
        <hr />

        <div>
            <h2>Utbildningar: </h2>
            <br />
            <div>
                @foreach (var edu in Model.MyEducations)
                {
                    <div class="col-md-6">
                        <p><strong>Titel:</strong> @edu.title</p>
                        <p><strong>Beskrivning:</strong> @edu.description</p>
                        <p><strong>Datum: </strong>@edu.date</p>
                        <p>
                            @Html.ActionLink("Redigera", "Edit", "educations", new { id = edu.education_id }, null) |
                            @Html.ActionLink("Radera", "Delete", "educations", new { id = edu.education_id }, null)
                        </p>
                        <hr />
                    </div>
                }
            </div>
            <div class="container"></div>
            @Html.ActionLink("Lägg till utbildning", "Create", "educations", new { idfromview = Model.Resume_id }, new { @class = "btn" })
        </div>


    </div>

    <br />
    <hr />

    <h2>Erfarenheter:</h2>

    <table class="table" id="tblWorkhistory">
        <thead>
            <tr>
                <th style="border-bottom:none;">
                    @Html.DisplayName("Namn på arbetsgivaren")
                </th>
                <th style="border-bottom:none;">
                    @Html.DisplayName("Position")
                </th>
                <th style="border-bottom:none;">
                    @Html.DisplayName("Beskrivning av arbetet")
                </th>
                <th style="border-bottom:none;">
                    @Html.DisplayName("Datum (yyyy-mm-dd)")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var work in Model.MyWorkhistory)
            {
                <tr>
                    <td>@work.employer</td>
                    <td>@work.position</td>
                    <td>@work.description</td>
                    <td>@work.date</td>
                    <td><input class="btnless" type="button" value="Ta bort" onclick="RemoveWorkhistory(this)" /></td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <td><input type="text" id="txtEmployer" /></td>
                <td><input type="text" id="txtPosition" /></td>
                <td><input type="text" id="txtDescription" /></td>
                <td><input type="text" id="txtDate" /></td>
                <td>
                    <input class="btnlessAdd btnAddWorkhistory" type="button" name="name" value="Lägg till" />
                </td>

                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>


    <hr />


    <h2>Länkar:</h2>
    <table class="table" id="tblLinks">
        <thead>
            <tr>
                <th style="border-bottom:none;">
                    @Html.DisplayNameFor(model => model.Linkname)
                    @Html.DisplayName("Namn på sidan (tex LinkedIn, GitHub)")
                </th>
                <th style="border-bottom:none;">
                    @Html.DisplayNameFor(model => model.Url)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var link in Model.Link)
            {
                <tr>
                    <td>@link.name</td>
                    <td>@link.link</td>
                    <td><input  class="btnless" type="button" value="Ta bort" onclick="RemoveLink(this)" /></td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <td><input type="text" id="txtLinkname" /></td>
                <td><input type="text" id="txtLink" /></td>
                <td>
                    <input class="btnlessAdd btnAddLink" type="button" name="name" value="Lägg till" />
                </td>

                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>

    <br />
    <hr />

    <div class="form-group">
        <div>
            <input type="submit" value="Spara CV" id="btnSave" class="btn btn-default" />
        </div>
    </div>

    <br />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript" src="~/Scripts/myjavascript.js"></script>

}

