@model DoorinWebApp.Viewmodel.FullResume

@{
    /**/

    ViewBag.Title = "Edit";
}

<div>
    @Html.ActionLink("Tillbaka", "Details", "freelancers", new { id = Model.Freelancer_id }, new { @class = "btnless", @style="margin:0;" })
</div>

<h2>Redigera ditt CV @Html.DisplayFor(model => model.Firstname) @Html.DisplayFor(model => model.Lastname) </h2>

<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(@Model => @Model.Resume_id)

        <div class="form-group" style="display:none;">

            @Html.LabelFor(@Model => @Model.Freelancer_id, "freelancer_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("freelancer_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(@Model => @Model.Freelancer_id, "", new { @class = "text-danger" })
                <input type="hidden" id="freelancer_id" value="@Model.Freelancer_id" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("B-körkort", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Driving_license, Model.DrivingLicenceChoice, "- Har du körkort? -", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Driving_license, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Profil (kort beskrivning av dig)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(@Model => @Model.Profile, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(@Model => @Model.Profile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <hr />
            <h2>Kompetenser:</h2>
            <br />

            <div class="col-md-6">
                <p><b>Lägg till kompetenser</b></p>
                <select class="form-control" id="Competences" name="Competences">
                    <option> Välj en kompetens att lägga till</option>
                    @foreach (var item in Model.Competences)
                    {
                        <option value="@item.competence_id"> @item.name </option>
                    }
                </select>
                <input type="submit" id="addCompetence" name="addCompetence" value="Lägg till kompetens" onclick="AddCompetence()" />
            </div>

            <div class="col-md-6">
                <p><b>Mina kompetenser</b></p>
                <table class="table" id="myCompTable">
                    @foreach (var item in Model.MyCompetences)
                    {
                    <tr>

                        <td>@item.name </td>                       
                        <td> <input type="button" class="btnless" value="Ta bort" onclick="RemoveCompetence(this)" /> </td>
                        <hidden><td>@item.competence_id</td></hidden>
                    </tr>

                    }
                </table>
            </div>
        </div>

        <div class="container"></div>
        <br />
        <hr />

        <div>
            <h2>Teknologier:</h2>
            <br />
            <div class="col-md-6">
                <p><b>Lägg till teknologier</b></p>
                <select class="form-control" id="Technologies" name="Technologies">
                    <option> Välj en teknologi att lägga till</option>
                    @foreach (var item in Model.Technologies)
                    {
                        <option value="@item.technology_id"> @item.name </option>
                    }
                </select>

                <p><b>Rankning</b></p>
                <select class="form-control" id="rank" name="rank">
                    <option>Välj en rankning</option>
                    <option value="1"> 1 </option>
                    <option value="2"> 2 </option>
                    <option value="3"> 3 </option>
                    <option value="4"> 4 </option>
                    <option value="5"> 5 </option>
                </select>

                <p><b>Kärnförmåga</b></p>
                <select class="form-control" id="core_technology" name="core_technology">
                    <option>Är denna teknologi en kärnförmåga?</option>
                    <option value="True"> Ja </option>
                    <option value="False"> Nej </option>
                </select>
                <input type="submit" id="addTechnology" name="addTechnology" value="Lägg till teknologi" onclick="AddTechnology()" />

            </div>

            <div class="col-md-6">
                <p><b>Mina teknologier</b></p>
                <table class="table"id="techId">
                @foreach (var item in Model.MyTechnologies)
                {
                    <tr>
                        <td>@item.name <input type="button" class="btnless" value="Ta bort" onclick="RemoveTechnology(this)" /></td>
                        <hidden><td>@item.technology_id</td></hidden>
                    </tr>                    
                }
                    </table>
            </div>
        </div>

        <hr />

        <div class="container"></div>
        <br />
        <hr />

        <div>
            <h2>Utbildningar: </h2>
            <br />
            <div>
                @foreach (var edu in Model.MyEducations)
                {
                    <div class="col-md-6">
                        <p><strong>Titel:</strong> @edu.title</p>
                        <p><strong>Beskrivning:</strong> @edu.description</p>
                        <p><strong>Datum: </strong>@edu.date</p>
                        <p>
                            @Html.ActionLink("Redigera", "Edit", "educations", new { id = edu.education_id }, null) |
                            @Html.ActionLink("Radera", "Delete", "educations", new { id = edu.education_id }, null)
                        </p>
                        <hr />
                    </div>
                }
            </div>
            <div class="container"></div>
            @Html.ActionLink("Lägg till utbildning", "Create", "educations", new { idfromview = Model.Resume_id }, new { @class = "btn" })
        </div>


    </div>

    <br />
    <hr />

    <h2>Erfarenheter:</h2>

    <table class="table" id="tblWorkhistory">
        <thead>
            <tr>
                <th style="border-bottom:none;">
                    @Html.DisplayName("Namn på arbetsgivaren")
                </th>
                <th style="border-bottom:none;">
                    @Html.DisplayName("Position")
                </th>
                <th style="border-bottom:none;">
                    @Html.DisplayName("Beskrivning av arbetet")
                </th>
                <th style="border-bottom:none;">
                    @Html.DisplayName("Datum")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var work in Model.MyWorkhistory)
            {
                <tr>
                    <td>@work.employer</td>
                    <td>@work.position</td>
                    <td>@work.description</td>
                    <td>@work.date</td>
                    <td><input class="btnRemoveWorkhistory btn btn-default" type="button" value="Ta bort" onclick="RemoveWorkhistory(this)" /></td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <td><input type="text" id="txtEmployer" /></td>
                <td><input type="text" id="txtPosition" /></td>
                <td><input type="text" id="txtDescription" /></td>
                <td><input type="text" id="txtDate" /></td>
                <td><input type="hidden" id="resume_id" value="@Model.Resume_id" /></td>

                <td>
                    <input class="btnAddWorkhistory btn btn-default" type="button" name="name" value="Lägg till" />
                </td>

                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>


    <hr />


    <h2>Länkar:</h2>
    <table class="table" id="tblLinks">
        <thead>
            <tr>
                <th style="border-bottom:none;">
                    @Html.DisplayNameFor(model => model.Linkname)
                    @Html.DisplayName("Namn på sidan (tex LinkedIn, GitHub)")
                </th>
                <th style="border-bottom:none;">
                    @Html.DisplayNameFor(model => model.Url)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var link in Model.Link)
            {
                <tr>
                    <td>@link.name</td>
                    <td>@link.link</td>
                    <td><input class="btnRemoveLink btn btn-default" type="button" value="Ta bort" onclick="RemoveLink(this)" /></td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <td><input type="text" id="txtLinkname" /></td>
                <td><input type="text" id="txtLink" /></td>
                <td><input type="hidden" id="resume_id" value="@Model.Resume_id" /></td>

                <td>
                    <input class="btnAddLink btn btn-default" type="button" name="name" value="Lägg till" />
                </td>

                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>

    <br />
    <hr />

    <div class="form-group">
        <div>
            <input type="submit" value="Spara CV" id="btnSave" class="btn btn-default" />
        </div>
    </div>

    <br />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript">
        $(".btnAddLink").click(function () {
            //Reference the Name and Link TextBoxes.
            var txtLinkname = $("#txtLinkname");
            var txtLink = $("#txtLink");


            //Get the reference of the Table's TBODY element.
            var tBody = $("#tblLinks > TBODY")[0];

            //Add Row.
            var row = tBody.insertRow(-1);

            //Add Linkname cell.
            var cell = $(row.insertCell(-1));
            cell.html(txtLinkname.val());

            //Add URL cell.
            cell = $(row.insertCell(-1));
            cell.html(txtLink.val());

            //Add Button cell.
            cell = $(row.insertCell(-1));
            var btnRemove = $("<input class=btn btn-default/>");
            btnRemove.attr("type", "button");
            btnRemove.attr("onclick", "RemoveLink(this);");
            btnRemove.val("Ta bort");
            cell.append(btnRemove);

            //Clear the TextBoxes.
            txtLinkname.val("");
            txtLink.val("");
        });

        function RemoveLink(button) {
            //Determine the reference of the Row using the Button.
            var row = $(button).closest("TR");
            var name = $("TD", row).eq(0).html();
            if (confirm("Do you want to delete: " + name)) {
                //Get the reference of the Table.
                var table = $("#tblLinks")[0];
                //Delete the Table row using it's Index.
                table.deleteRow(row[0].rowIndex);
            }
        };

        $(".btnAddWorkhistory").click(function () {
            //Reference the Name and Link TextBoxes.
            var txtEmployer = $("#txtEmployer");
            var txtPosition = $("#txtPosition");
            var txtDescription = $("#txtDescription");
            var txtDate = $("#txtDate");

            //Get the reference of the Table's TBODY element.
            var tBody = $("#tblWorkhistory > TBODY")[0];

            //Add Row.
            var row = tBody.insertRow(-1);

            //Add employer cell.
            var cell = $(row.insertCell(-1));
            cell.html(txtEmployer.val());

            //Add position cell.
            cell = $(row.insertCell(-1));
            cell.html(txtPosition.val());

            //Add description cell.
            cell = $(row.insertCell(-1));
            cell.html(txtDescription.val());

            //Add date cell.
            cell = $(row.insertCell(-1));
            cell.html(txtDate.val());

            //Add Button cell.
            cell = $(row.insertCell(-1));
            var btnRemove = $("<input class=btn btn-default/>");
            btnRemove.attr("type", "button");
            btnRemove.attr("onclick", "RemoveWorkhistory(this);");
            btnRemove.val("Ta bort");
            cell.append(btnRemove);

            //Clear the TextBoxes.
            txtEmployer.val("");
            txtPosition.val("");
            txtDescription.val("");
            txtDate.val("");
        });



        function RemoveWorkhistory(button) {
            //Determine the reference of the Row using the Button.
            var row = $(button).closest("TR");
            var name = $("TD", row).eq(0).html();
            if (confirm("Do you want to delete: " + name)) {
                //Get the reference of the Table.
                var table = $("#tblWorkhistory")[0]; //TODO:Test för workhistory
                //Delete the Table row using it's Index.
                table.deleteRow(row[0].rowIndex);
            }
        };



        $("body").on("click", "#btnSave", function () {
            //Loop through the Table rows and build a JSON array.
            var links = new Array();
            var resume_id = $("#Resume_id").val();
            $("#tblLinks TBODY TR").each(function () {
                var row = $(this);
                var link = {};
                link.Name = row.find("TD").eq(0).html();
                link.Link = row.find("TD").eq(1).html();
                link.resume_id = resume_id;
                links.push(link);

            });

            var wh = new Array();
            var resume_id = $("#Resume_id").val();
            $("#tblWorkhistory TBODY TR").each(function () {
                var row = $(this);
                var workhistory = {};
                workhistory.employer = row.find("TD").eq(0).html().trim();
                workhistory.position = row.find("TD").eq(1).html().trim();
                workhistory.description = row.find("TD").eq(2).html().trim();
                workhistory.date = row.find("TD").eq(3).html().trim();

                workhistory.resume_id = resume_id;
                wh.push(workhistory);

            });

            //Send the JSON array to Controller using AJAX.
            $.ajax({
                type: "POST",
                url: "/Links/InsertLinks",
                data: JSON.stringify(links),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    //alert("link(s) updated.");
                }
                });


                $.ajax({
                    type: "POST",
                    url: "/Workhistories/InsertWorkhistory",
                    data: JSON.stringify(wh),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        //alert("link(s) updated.");
                    }
                });


        });

        // Script rörande Competens-DropDownListan
        var selectedCompetence;
        $(document).ready(function () {
            $("#Competences").change(function () {

                var selectedCompetenceId = document.getElementById("Competences");
                var competenceId = selectedCompetenceId.options[selectedCompetenceId.selectedIndex].value;
                selectedCompetence = competenceId;

            });
        });

        function AddCompetence() {
         var resume_id = $("#resume_id").val();

          var compObj = {
            competence_id: selectedCompetence, resume_id: resume_id, name: null
          };

                $.ajax({
                    type: "POST",
                    url: "/Resumes/AddMyCompetences",
                    data: JSON.stringify(compObj),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        document.location.reload(true)
                    }
                });
        }


        // Script lägga till teknologi
        var selectedRemoveTechnologyId; // ligger här så jag når dem då jag ska lägga till en teknologi
        var selectedRank;
        var selectedCoreTech;
        $(document).ready(function () {
            $("#Technologies").change(function () {

                var selectedTechnology = document.getElementById("Technologies");
                var technologyId = selectedTechnology.options[selectedTechnology.selectedIndex].value;

                selectedRemoveTechnologyId = technologyId;         
            });
        });

          $(document).ready(function () {
            $("#rank").change(function () {

                var selectedRankId = document.getElementById("rank");
                var rankValue = selectedRankId.options[selectedRankId.selectedIndex].value;

                selectedRank = rankValue;
                
            });
          });

        
          $(document).ready(function () {
            $("#core_technology").change(function () {

                var selectedCore = document.getElementById("core_technology");
                var coreValue = selectedCore.options[selectedCore.selectedIndex].value;

                selectedCoreTech = coreValue;
                
            });
        });
        function AddTechnology() {

            var resume_id = $("#resume_id").val();

                var techObj = {
                    technology_id: selectedRemoveTechnologyId, resume_id: resume_id, core_technology: selectedCoreTech,
                    rank: selectedRank, resume: null, technology: null
                };

                $.ajax({
                    type: "POST",
                    url: "/Resumes/AddMyTecgnologies",
                    data: JSON.stringify(techObj),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        document.location.reload(true)
                    }
                });
        }

             // Script ta bort teknologier
        var selectedTechnologyId; // ligger här så jag når dem då jag ska ta bort de man valt i dropdwonlistan
          $(document).ready(function () {
            $("#MyTechnologies").change(function () {

                var selectedTechnology = document.getElementById("MyTechnologies");
                var technologyId = selectedTechnology.options[selectedTechnology.selectedIndex].value;

                selectedTechnologyId = technologyId;

            });

          });

        function RemoveTechnology(button) {
  
            var row = $(button).closest("TR");
            var tech = $("TD", row).eq(1).html();
            var resume_id = $("#resume_id").val();

             var techObj = {
                    technology_id: tech, resume_id: resume_id, core_technology: null,
                    rank: 0, resume: null, technology: null
                };

                $.ajax({
                    type: "POST",
                    url: "/Resumes/RemoveMyTecgnologies",
                    data: JSON.stringify(techObj),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        document.location.reload(true)
                    }
                });

        }

             
        // Script ta bort kompetens
          var selectedCompetenceId; // ligger här så jag når dem då jag ska ta bort de man valt i dropdwonlistan
          $(document).ready(function () {
            $("#MyCompetences").change(function () {

                var selectedCompetence = document.getElementById("MyCompetences");
                var competenceId = selectedCompetence.options[selectedCompetence.selectedIndex].value;
                selectedCompetenceId = competenceId ;

            });
          });

        function RemoveCompetence(button) {

            var row = $(button).closest("TR");
            var comp = $("TD", row).eq(2).html();
            var resume_id = $("#resume_id").val();

                var compObj = {
                 competence_id: comp, resume_id: resume_id, name: null
             };

                $.ajax({
                    type: "POST",
                    url: "/Resumes/RemoveMyCompetences",
                    data: JSON.stringify(compObj),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        document.location.reload(true)
                    }
                });
        }

    </script>


}

