@model DoorinWebApp.Models.links

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>links</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resume.driving_license)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resume.driving_license)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.link_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
