@model DoorinWebApp.Models.workhistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>workhistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resume.driving_license)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resume.driving_license)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.workhistory_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
